!!! 5
html

  head

    title live.js - real-time event visualization
    link(rel='stylesheet', type='text/css', href='/stylesheets/theme.css')
    script(type='text/javascript', src='/javascripts/third-party/jquery.min.js')
    script(type='text/javascript', src='/javascripts/third-party/highcharts.min.js')
    script(type='text/javascript', src='/javascripts/chart.js')

  body

    #container