!!! 5
html

  head

    title live.js - real-time event visualization
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', type='text/css', href='/fonts/faces.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/theme.css')
    script(type='text/javascript', src='/javascripts/third-party/now.js')
    script(type='text/javascript', src='/javascripts/third-party/jquery.min.js')
    script(type='text/javascript', src='/javascripts/third-party/highcharts.min.js')
    script(type='text/javascript', src='/javascripts/livechart.js')

  body

    h1#title
    #container
    #navigation
    #watchers