/*
 * live.js
 * Copyright(c) 2011 Wagner Montalvao Camarao <functioncallback@gmail.com>
 * MIT Licensed
 */

@import 'nib'

*
  color: gray
  font: 12pt 'Cantarell'

h1
  font-size: 18pt

body
  margin: 0

#title
  text-align: center

#navigation
  padding: 5px

#navigation .item
  background: linear-gradient(top, #eee, #ccc)
  border-radius: 5px
  cursor: pointer
  display: inline-block
  margin: 5px
  padding: 7px 10px 10px 10px

#navigation .item:hover
  opacity: 0.9

#watchers
  absolute: top 5px right 15px