/*
 * live.js
 * Copyright(c) 2011 Wagner Montalvao Camarao <functioncallback@gmail.com>
 * MIT Licensed
 */

*
  font: 12pt Cantarell

body
  margin: 0

#navigation
  overflow-x: scroll
  white-space: nowrap
  width: 100%

#navigation .first.item
  margin-left: 10px

#navigation .item
  border: 1px solid gray
  cursor: pointer
  display: inline-block
  margin: 10px 10px 10px 0px
  width: 160px
  height: 120px